<?xml version="1.0"?>
<launch>
  <!-- Gazebo Parameters -->
  <arg name="gui" default="true"/>
  <arg name="paused" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="verbose" default="false"/>
  
  <!-- Start Gazebo with the given parameters -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">

  <!-- Start Gazebo with the given parameters -->
    
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="false"/> 
    <arg name="recording" value="false"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="verbose" value="$(arg verbose)"/>
  </include>
  
  <!-- Push robot_description to factory and spawn robot in gazebo -->
  <!--<include file="$(find low_gazebo)/launch/spawn_low.launch" /> -->
  
  <!-- EKF -->
  <include file="$(find low_gazebo)/launch/ekf.launch"/>

  <!-- Robot State Publisher -->
  <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="150.0" />
    <param name="tf_prefix" type="string" value="" />
  </node>

  <!-- Joint State Publisher -->
  <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher">
    <rosparam>
      <!--gui:false -->
      zeros:
        pico_flex_angle : 0.0
    </rosparam>
  </node>

  <!-- Fake Calibration -->
  <node pkg="rostopic" type="rostopic" name="fake_joint_calibration"
    args="pub /calibrated std_msgs/Bool true" />






  <!-- ##################### Spawn Artificial Maizeplant ########################## -->
  <param name="artificial_maizefield_simple_description" command="$(find xacro)/xacro.py '$(find low_gazebo)/urdf/maize/maizefield_simple_wave_FRE18.urdf.xacro'" />

<node name="spawn_artificial_maizefield_simple" pkg="gazebo_ros" type="spawn_model"
args="-urdf -param artificial_maizefield_simple_description -model artificial_maizefield_model -x 0.0000 -y 0.0 -z 0.0 -Y 0.0000" respawn="false" output="screen" />

<!-- SPAWN robot      -->
 <include file="$(find low_description)/launch/upload_low.launch"/>
  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_low_model" pkg="gazebo_ros" type="spawn_model"
    args=" -x -3.375 -y 8.38  -Y -1.597 -unpause -urdf -param robot_description
    -model low" respawn="false" output="screen"/>

</launch>